# macOS
.DS_Store

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
MANIFEST

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
junit/

# Linting / type-checking caches
.mypy_cache/
.ruff_cache/

# Environments
.env
.venv/

# PyCharm / IntelliJ
.idea/

# VS Code specific
.vscode/*
/.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
